/* .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
} */

h1 {
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  margin: 50px 0px;
  margin-left: 80px;
  color: rgba(175, 47, 47, 0.15);
}

.listItems {
  width: 22%;
  padding: 16px 16px 16px 100px;
}

/* .inputValue {
  font-size: 24px;
  line-height: 22px;
  color: rgb(77, 77, 77);
  width: 100%;
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: 10px 5px 5px rgb(0 0 0 / 18%);
  outline-style: none;
}
.buttonDiv {
  display: flex;
  justify-content: center;
}
.resetButton {
  padding: 8px;
  background-color: rgba(175, 47, 47, 0.15);
  margin-top: 10px;
  border: none;
  outline-style: none;
} */
.newTodos {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  padding: 2%;
}

.checkbox {
  background-color: rgba(175, 47, 47, 0.15);
  margin-right: 18px;
}

.delete {
  color: #cc9a9a;
  opacity: 1;
  transition: color 0.2s ease-out;
}

.footerButtons {
  font-size: 15px;
  padding: 8px;
  background-color: white;
  border-style: none;
  border-radius: 1px solid lightpink;
}
