.body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 150px;
  color: rgba(175, 47, 47, 0.15);
}
.inputValue {
  font-size: 24px;
  color: antiquewhite;
  width: 100%;
  padding: 16px 16px 16px 60px;
  border: none;
  box-shadow: 10px 5px 5px rgb(0 0 0 / 18%);
  outline-style: none;
}
.listItem {
  padding: 25px;
  display: flex;
}
.checkbox {
  display: flex;
}

.delete {
  color: #cc9a9a;
  opacity: 1;
  transition: color 0.2s ease-out;
}

.footerButtons {
  font-size: 15px;
  padding: 8px;
  background-color: white;
  border-style: none;
  border-radius: 1px solid lightpink;
}

/* .submitValueButton {
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
}
.listItems {
  max-width: 54%;
  padding: 20px;
  margin-top: 30px;
  box-shadow: 10px 5px 5px rgb(0 0 0 / 18%);
  margin-left: 750px;
  background-color: gray;
} */
